[submodule "RutubeAPI/libs/volley"]
	path = RutubeAPI/libs/volley
	url =  ssh://git@github.com/rutube/volley.git
[submodule "RutubeAPI/libs/DiskLruCache"]
	path = RutubeAPI/libs/DiskLruCache
	url = git@github.com:rutube/DiskLruCache.git
[submodule "RutubeApp/libs/AndroidStaggeredGrid"]
	path = RutubeApp/libs/AndroidStaggeredGrid
	url = git@github.com:rutube/AndroidStaggeredGrid.git
[submodule "RutubeFeed/libs/ViewPagerIndicator"]
	path = RutubeFeed/libs/ViewPagerIndicator
	url = git@github.com:tumb1er/Android-ViewPagerIndicator.git
