[submodule "RutubeAPI/libs/volley"]
	path = RutubeAPI/libs/volley
	url =  ssh://git@github.com/rutube/volley.git
[submodule "RutubeApp/libs/PinterestLikeAdapterView"]
	path = RutubeApp/libs/PinterestLikeAdapterView
	url = ssh://git@github.com/rutube/PinterestLikeAdapterView.git
[submodule "libs/ActionBarSherlock"]
	path = libs/ActionBarSherlock
	url = ssh://git@github.com/rutube/ActionBarSherlock
